
.payment__reset-btn {
    padding-right: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(203, 17, 171, 1);
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 4px;
    letter-spacing: 0.01rem;
}

.payment__container {
    width: 96.6%;
    padding-left: 2.6%;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding-top: 23px;
    margin-top: 11px;
    margin-left: 2.4%;
}

.bank-cart__info {
    padding-top: 16px;
    padding-left: 0;
}

.paymants__header {
    display: flex;
    justify-content: space-between;
}

.delivery__main-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.03rem;
}



.bank-cart__info {
    padding-top: 16px;
    display: flex;
    justify-content: flex-start;
    padding-left: 2px;
    padding-right: 73px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -0.03rem;
}

.cart-number {
    padding-left: 9px;
}

.cart-expared-date {
    padding-left: 17px;
}


.text__info {
    padding-top: 5px;
    padding-left: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #9797AF;
    letter-spacing: -0.005rem;
    padding-bottom: 23px;
}


@media screen and (max-width: 1025px) {
    .payment__container {
        width: 94.6%;
        padding-left: 3.6%;
        background-color: #FFFFFF;
        border-radius: 16px;
        padding-top: 19px;
        margin-top: 11px;
        margin-left: 3.4%;
    }
}


@media screen and (max-width: 1023px) {

.bank-cart__info {
    padding-top: 6px;
    padding-left: 16px;
}

.payment__reset-btn {
    padding-right: 16px;
}

    .text__info {
        padding-top: 6px;
        padding-left: 16px;
    }

.paymants__header {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-top: 15px;
}

.payment__container {
    background-color: #FFFFFF;
    border-radius: 16px;
    height: unset;
    width: unset;
    padding-top: 0;
    margin-top: 11px;
    margin-left: 0;
    padding-left: 0;

}

.delivery__main-header {
font-size: 19px;
letter-spacing: -0.2px;
padding-left: 5px;
}
}

