.burger-logo__container {
   display: flex;
   margin-left: 1.8%;
   gap: 16px;
   align-items: center;
   justify-content: space-between;
}

.burger__container {
   margin-right: 16px;
   display: flex;
   border: solid 1px rgba(255, 255, 255, 0.45);
   border-radius: 8px;
   height: 47px;
   padding: 3px;
   width: 48px;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   cursor: pointer;
}

.burger__span {
   width: 28px;
   height: 4px;
   background-color: #FFFFFF;
   border-radius: 8px;
}

.burger__container:hover {
   border: solid 1px rgba(255, 255, 255, 1);
}

.menu {
   z-index: 10;
   display: flex;
   padding-top: 20px;
   position: absolute;
   top: 0;
   left: 0;
   width: 320px;
   height: 100%;
   background-color: rgba(255, 255, 255, 1);
   transform: translateX(-150%);
   transition: transform .3s ease;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;
}

.menu__link {
   font-family: "Segoe UI", Arial, sans-serif;
   margin-top: 10px;
   z-index: 12;
   text-align: left;
   width: 90%;
   font-size: 20px;
   line-height: 22px;
   color: #242424;
   display: block;
   position: relative;
   padding: 3px 5px 3px 44px;
   border-radius: 8px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

.menu__link:hover {
   background: #cb11ab;
   color: #fff;
}

.menu.is-open {
   overflow: hidden;
   transform: translateX(0%);
}

.menu-close__btn, .search-close__btn{
   width: 20px;
   position: relative;
   left: 36%;
}

.input__container {
   margin-right: 11px;
   display: flex;
   width: 71.5%;
   padding-left: 7px;
}

.search__input {
   width: 100%;
   background: rgba(255, 255, 255, 0.2);
   height: 48px;
   border-radius: 36px;
   font-weight: 400;
   font-size: 17px;
   line-height: 24px;
   padding-bottom: 4px;
   padding-left: 2%;
}

.search-mini__container {
   display: none;
}

.search__aside {
   display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: rgba(255, 255, 255, 1);
   opacity: 50%; /* Firefox */
   font-weight: 400;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(255, 255, 255, 1);
   opacity: 50%;
   font-weight: 400;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(255, 255, 255, 1);
   opacity: 50%;
   font-weight: 400;
}

.search__img {
   position: relative;
   right: 4.5%;
   opacity: 40%;
}

.logo__container, .logo-mini__text {
   font-family: "Segoe UI", Arial, sans-serif;
   width: 118px;
   font-weight: 600;
   font-style: normal;
   font-size: 21px;
   line-height: 24px;
   letter-spacing: 0.9px;
   color: rgba(255, 255, 255, 1);
   cursor: pointer;
}

.logo__container2 {
   letter-spacing: 2px;
}

.logo__text {
   margin-right: 12px;
   text-align: left;
}

.logo-mini__text {
   display: none;
}

.profile-cart__container {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 40px;
   padding-right: 20px;
}

.profile__container, .cart__container {
   display: flex;
   width: 56px;
   height: 47px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.5px;
   cursor: pointer;
}

.cart__container {
   padding-right: 4px;
   height: 50px;
   margin-bottom: 2px;
}

.profile__img {
   width: 19px;
   height: 20px;
}

.cart__img {
   width: 26px;
   height: 26px;
}

.profile__text, .cart__text {
   color: rgba(255, 255, 255, 1);
}

.cart__item, .cart__item2 {
   background: rgba(245, 81, 35, 1);
   border-radius: 16px;
   height: 16px;
   width: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   position: absolute;
   top: 11px;
   right: 27px;
}

.mobil__navigation {
   display: none;
}

@media screen and (max-width: 1025px) {

   .input__container{
      width: 60.5%;
      margin-right: 13px;
   }

   .search__input {
      padding-left: 3%;
   }

   .search__img {
      right: 7%;
   }
   .burger-logo__container {
      margin-left: 25px;
   }
}

@media screen and (max-width: 800px) {
   .footer__mobile_nav {
      position: sticky;
      bottom: 0;
   }

   .navigation {
      justify-content: space-between;
      height: 56px;
   }

   .burger__container:hover {
      border: none;
   }

   .burger-logo__container {
      margin-left: 13px;
   }

   .burger__container {
      border: none;
      width: 22px;
      margin-right: 26px;
      height: 37px;
      align-items: flex-start;
   }

   .burger__span {
      width: 22px;
      height: 2px;
   }

   .burger__span:last-of-type {
      width: 16px
   }

   .search-mini__container {
      display: flex;
      margin-right: 14px;
      width: 31px;
   }

   .profile-cart__container {
      display: none;
   }

   .input__container {
      display: none;
   }

   .logo__text {
      display: none;
   }

   .logo-mini__text {
      display: flex;
      width: 90%;
      font-size: 19px;
      letter-spacing: 1.9px;
      padding-bottom: 2px;
   }

   .mobil__navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      bottom: 0;
      height: 56px;
      padding: 14px;
      box-sizing: border-box;
      background: #FFFFFF;
      box-shadow: 0 4px 20px rgba(0,0,0,.1);
   }

   .cart-logo {
      position: relative;
   }

   .cart__item2 {
      right: -8px;
      top: -4px;
      font-size: 10px;
   }

   .mobil-svg__navigation {
      cursor: pointer;
   }

   .search__aside {
      z-index: 10;
      display: flex;
      padding-top: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 1);
      transform: translateX(-150%);
      transition: transform .3s ease;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
   }

   .search__aside.is-open {
      overflow: hidden;
      transform: translateX(0%);
   }

   .search-close__btn {
      margin-left: 30px;
   }

   .search-input__aside {
      margin-top: 50px;
      font-size: 16px;
      line-height: 22px;
      color: #242424;
      width: 80%;
      height: 40px;
      background-color: #f1f1f5;
      padding: 0 35px 0 16px;
      border-radius: 24px;
   }

   .search__img3 {
      top: -29px;
      left: 36%;
      position: relative;
   }

}