.main__container {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.wraper {
    display: flex;
    flex-direction: row;
    line-height: 1;
    width: 100%;
    max-width: 1400px;
}

.main {
    display: flex;
    background-color: rgba(246, 246, 250, 1);
    border-radius: 24px;
    padding-bottom: 49px;
    flex-direction: row;
    justify-content: center;
}

.navigation {
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 21px;
}

.footer__container {
    height: 64px;
}

.cart__header {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 32px;
    margin-left: 2.5%;
    margin-top: 4%;
    font-family: 'Segoe UI',Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.cart__container {
    width: 66%;
}

.total__container {
    margin: 0 auto;
    margin-top: 24px;
    width: 30.55%;
}

.footer-copy {
    height: 64px;
    font-family: SegoeUI,Arial,sans-serif;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 1023px) {
    .wraper {
        flex-direction: column;
    }

    .navigation {
        margin-left: unset;
    }
}