.main__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.main {
    height: 1903px;
    display: block;
    background-color: rgba(246, 246, 250, 1);
    border-radius: 24px;
}

.navigation {
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__container {
    height: 64px;
}

.cart__header {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 32px;
    margin-left: 2.5%;
    margin-top: 4%;
}

.cart__container {
    width: 66%;
}