.main__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.main {
    display: flex;
    background-color: rgba(246, 246, 250, 1);
    border-radius: 24px;
    padding-bottom: 49px;
    flex-direction: row;
}

.navigation {
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__container {
    height: 64px;
}

.cart__header {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 32px;
    margin-left: 2.5%;
    margin-top: 4%;
}

.cart__container {
    width: 66%;
}

.total__container {
    margin: 0 auto;
    margin-top: 24px;
    width: 30.55%;
}

.footer-copy {
    height: 64px;
    font-family: SegoeUI,Arial,sans-serif;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
}